@import '../fonts/lobster/style.css';
@import '../fonts/open-sans/style.css';


/* global */
body {
	font-family: 'Open Sans';
}
h1 {
	font-family: 'Lobster Regular';
}

.bg-ct-dark {
	background: #343434;
}
.bg-ct-gold {
	background: #E6B31E;
}
.bg-ct-gray {
	background: #CACACA;
}
.bg-ct-white {
	background: #FCFAF1;
}

a {
	color: #E6B31E !important;
}

.form-control {
	border-radius: 0 !important;
	background: transparent !important;
}

.backdrop {
	position: absolute;
	top:0;
	width: 100%;
	background: rgba(0,0,0,.5);
}
h3.section-title{
	position: relative;
	color: #343434;
	text-align: center;
	font-family: 'Lobster Regular';
}
h3.section-title:before{
	position: absolute;
	content: ' ';
	width: 50px;
	height: 3px;
	top:-10px;
	background: #E6B31E;
}
.cursor-pointer {
	cursor: pointer;
}

/* icon-icon */
svg {
	width: 24px;
	height: 24px;
}

svg.chevron-down path{
	d: path("M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z");
}
svg.checkbox-blank path{
	d: path("M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z");
}
svg.checkbox-marked path{
	d: path("M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z");
}
svg.close-x path{
	d: path("M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z");
}
svg.magnify path{
	d: path("M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z");
}
svg.arrow-left path{
	d: path("M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z");
}

svg.small {
	transform: scale(.75);
}
svg.large {
	transform: scale(1.25);
}


svg.svg-white{
	fill: #fff !important;
}
svg.svg-success{
	fill: #28a745 !important;
}
svg.svg-ct-gold{
	fill: #E6B31E !important;
}



/* app-bar */

#app-bar {
	color: #E6B31E;
	height: 60px;
}
#app-bar a {
	color: #E6B31E !important;
}
#app-bar .container {
	display: flex;
}
#app-bar .brand {
	width: 50%;
	display: flex;
}
#app-bar .menu {
	width: 50%;
	margin-left: auto;
	text-align: right;
}
.brand img {
	height: 20px;
	margin: 20px 5px 20px 0;
}
.brand h1 {
	font-size: 20px;
	line-height: 60px;
}
#app-bar .menu a {
	line-height: 56px;
}


/* nav-bar */

#nav-bar ul {
	list-style: none;
	text-align: center;
}
#nav-bar li {
	display: inline-block;
	padding: 10px 0;
}
#nav-bar li a{
	padding: 10px;
}

/* search-bar */
#search-bar {
	padding: 10px 0;
}
#search-bar .container {
	position: relative;
}
#search-bar input[type="text"]{
	border:3px solid #E6B31E;
	color: #E6B31E;
	padding-left: 50px;
}
#search-bar svg {
	position: absolute;
	top:7px;
	left: 25px;
}

/* filter-bar */
#filter-bar .filter {
	padding: 10px 0;
}
#filter-bar .filter .container {
	display: flex;
}
.filter-detail {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: all .5s;
}
.filter-detail.show {
	opacity: 1;
	height: auto;
}
.filter-detail .container {
	position: relative;
}
.filter-detail ul{
	list-style: none;
	padding:0;
}
.filter-detail svg {
	cursor: pointer;
}
.filter-detail .toggle-filter {
	position: absolute;
	top:0;
	right: 0;
}
.filter-item {
	border-radius:20px;
	padding: 2px 10px 2px 20px;
	margin: 5px;
	border:2px solid #343434;
	cursor: pointer;
}
.filter-item svg {
	margin-top:-3px;
}
.list-filter {
	cursor: pointer;
}
#a-filter, #a-reset-filter {
	color: #212121 !important;
	cursor: pointer;
}
#a-filter:hover, #a-reset-filter:hover {
	text-decoration: none;
}


/* cocktail-area */

#cocktail-area {
	padding-top: 50px
}


.cocktail-item {
	position: relative;
	height: 200px;
	overflow: hidden;
	cursor: pointer;
	transition: all .5s;
	transform: scale(1);
	z-index: 9;
}
.cocktail-item:hover{
	transform: scale(1.1);
	z-index: 9999;
}
.cocktail-item img{
	width: 100%;
}
.cocktail-item h3{
	position: absolute;
	color: #FCFAF1;
	bottom: 25px;
	left: 20px;
	font-family: 'Lobster Regular';
}
.cocktail-item h3:after{
	position: absolute;
	left: 0;
	bottom: -10px;
	content: ' ';
	width: 50px;
	height: 3px;
	background: #E6B31E;
}
.cocktail-item .backdrop {
	height: 200px;
}




/* show html */
header .bg-image{
	width: 100%;
	height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
	filter:blur(10px);
	transform: scale(1.1);
}
.ct-header-icon {
	width: 100%;
}
.btn-back-area {
	position: absolute;
	top:0;
	width: 100%;
}
ul.ing-list {
	list-style: none;
	padding: 0;
}
.ing-list li {
	background: #ddd;
}
.ing-list li:nth-child(even) {
	background: #eee;
}
.ing-icon {
	width: 50px;
	margin-right: 10px;
}
.ing-name {
	font-weight: bold
}

/* footer */
footer {
	color: #E6B31E;
}