<div id="home">
	<header>
		<app-bar></app-bar>
		<div id="nav-bar" class="bg-ct-gold">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#intro">Intro</a></li>
				<li><a href="#sample">Sample</a></li>
				<li><a href="#try">Lets Try</a></li>
			</ul>
		</div>
	</header>
	<main>
		<div id="jumbotron">
			<div class="j-bg-image-wrap">
				<div class="j-bg-image" style="background-image:url('/src/img/sample/noimage.jpg')"></div>
				<div class="backdrop"></div>
			</div>
			<div class="j-content">
				<div class="container">
					<h1 class="text-center text-white">Cocktail Time!</h1>
					<p class="text-white text-center">Cocktail search engine! Find your cocktail from thecocktaildb.com databases</p>
					<search-bar></search-bar>
				</div>
			</div>
		</div>
		<div id="intro" class="bg-ct-white">
			<div class="container">
				<div class="row py-5">
					<div class="img-icon col-md-4">
						<img src="/src/img/mockup/mobile.png" style="max-width: 200px;">
					</div>
					<div class="intro-content col-md-8 py-5">
						<h3 class="section-title">Easy Way To Find Cocktail Information</h3>
						<p>Search by name, filter by categories, ingredients, glass type and alcoholic or non-alcoholic.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="sample">
			<div class="container-fluid">
				<div id="sample-content" class="row">
					<div class="sample-info col-md-6 bg-ct-gold">
						<h3 class="section-title">Various Types of Cocktail!</h3>
						<p>There are more than 100 types of cocktails with various variants.</p>
					</div>
					<div class="col-md-3 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/noimage.jpg">
							<div class="backdrop"></div>
							<h3>...</h3>
						</div>
					</div>
					<div class="col-md-3 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/noimage.jpg">
							<div class="backdrop"></div>
							<h3>...</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/noimage.jpg">
							<div class="backdrop"></div>
							<h3>...</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/noimage.jpg">
							<div class="backdrop"></div>
							<h3>...</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/noimage.jpg">
							<div class="backdrop"></div>
							<h3>...</h3>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="try">
			<div class="container">
				<div class="row py-5">
					<div class="try-icon-area col-md-4">
						<svg class="magnify try-icon svg-ct-gold"><path></path></svg>
					</div>
					<div class="col-md-8">
						<h3 class="section-title">Lets Try!</h3>
						<p>Tuliskan nama cocktail yang ingin anda cari, bisa dengan mengetik ingredients, jenis gelas, atau jenis alcohol</p>
						<search-bar></search-bar>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<footer class="bg-ct-dark text-center py-3">
	Copyright 2021 Cocktail Time
</footer>