<div id="home">
	<header>
		<div id="app-bar" class="bg-ct-dark">
			<div class="container">
				<div class="brand">
					<img src="/src/img/logo.png"> <h1>Cocktail Time</h1>
				</div>
				<div class="menu">
					<a>Browse</a>
				</div>
			</div>
		</div>
		<div id="nav-bar" class="bg-ct-gold">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Intro</a></li>
				<li><a href="#">Sample</a></li>
				<li><a href="#">Join</a></li>
			</ul>
		</div>
		<a class="btnBrowse">Browse</a>
	</header>
	<main></main>
</div>
<footer class="bg-ct-dark text-center py-3">
	Copyright 2021 Cocktail Time
</footer>