<div id="home">
	<header>
		<div id="app-bar" class="bg-ct-dark">
			<div class="container">
				<div class="brand">
					<img src="/src/img/logo.png"> <h1>Cocktail Time</h1>
				</div>
				<div class="menu">
					<a class="cursor-pointer btn-browse">Browse</a>
				</div>
			</div>
		</div>
		<div id="nav-bar" class="bg-ct-gold">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#intro">Intro</a></li>
				<li><a href="#sample">Sample</a></li>
				<li><a href="#try">Lets Try</a></li>
			</ul>
		</div>
	</header>
	<main>
		<div id="jumbotron">
			<div class="j-bg-image-wrap">
				<div class="j-bg-image" style="background-image:url('/src/img/sample/test2.jpg')"></div>
				<div class="backdrop"></div>
			</div>
			<div class="j-content">
				<div class="container">
					<h1 class="text-center text-white py-3">Find Your Cocktail</h1>
					<div id="search-bar">
						<div class="container">
							<form id="search-form">
								<input id="search-input" type="text" class="form-control" placeholder="Type and hit enter">
								<svg class="magnify svg-ct-gold"><path></path></svg>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="intro">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-6">
						<img src="/src/img/sample/test2.jpg" style="width: 100%;">
					</div>
					<div class="col-md-6">
						<h3 class="section-title">Easy Way To Find Cocktail Information</h3>
						<p>Search by name, filter by categories, ingredients, glass type and alcoholic or non-alcoholic.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="sample">
			<div class="container-fluid">
				<div class="row">
					<div class="sample-info col-md-6 bg-ct-gold">
						<h3 class="section-title">Various Types of Cocktail!</h3>
						<p>There are more than 100 types of cocktails with various variants.</p>
					</div>
					<div class="col-md-3 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-3 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="try">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-6">
						<h3 class="section-title">Lets Try!</h3>
						<p>Tuliskan nama cocktail yang ingin anda cari, bisa dengan mengetik ingredients, jenis gelas, atau jenis alcohol</p>
						<div id="search-bar">
							<div class="container">
								<form id="search-form">
									<input id="search-input" type="text" class="form-control" placeholder="Type and hit enter">
									<svg class="magnify svg-ct-gold"><path></path></svg>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<footer class="bg-ct-dark text-center py-3">
	Copyright 2021 Cocktail Time
</footer>