<div id="search">
	<header>
		<div id="app-bar" class="bg-ct-dark">
			<div class="container">
				<div class="brand cursor-pointer">
					<img src="/src/img/logo.png"> <h1>Cocktail Time</h1>
				</div>
				<div class="menu">
					<a class="cursor-pointer btn-browse">Browse</a>
				</div>
			</div>
		</div>
		<div id="search-bar" class="bg-ct-dark">
			<div class="container">
				<form id="search-form">
					<input id="search-input" type="text" class="form-control" placeholder="Type and hit enter">
					<svg class="magnify svg-ct-gold"><path></path></svg>
				</form>
				
			</div>
		</div>
		<div id="filter-bar" class="bg-ct-gray">
			<div class="filter">
				<div class="container">
					<div style="line-height: 40px; white-space: nowrap;overflow: auto">
						<span class="filter-item filter-item-default">Show Filter <svg class="chevron-down"><path></path></svg></span>
						<span id="filter-category-active">
							<span class="filter-item">Glass <svg class="chevron-down"><path></path></svg></span>
						</span>
						<span id="filter-ingredients-active">
							<span class="filter-item">Glass <svg class="chevron-down"><path></path></svg></span>
						</span>
						<span id="filter-glass-active">
							<span class="filter-item">Glass <svg class="chevron-down"><path></path></svg></span>
						</span>
						<span id="filter-alcohol-active">
							<span class="filter-item">Glass <svg class="chevron-down"><path></path></svg></span>
						</span>
					</div>
					
				</div>
			</div>
			<div class="filter-detail">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<span>Category</span>
							<ul id="filter-category" class="mt-2">
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-marked mr-1 svg-success"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
							</ul>
						</div>
						<div class="col-md-3">
							<span>Ingredients</span>
							<ul id="filter-ingredients" class="mt-2">
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-marked mr-1 svg-success"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
							</ul>
						</div>
						<div class="col-md-3">
							<span>Glass</span>
							<ul id="filter-glass" class="mt-2">
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-marked mr-1 svg-success"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
							</ul>
						</div>
						<div class="col-md-3">
							<span>Alcohol</span>
							<ul id="filter-alcohol" class="mt-2">
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-marked mr-1 svg-success"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
								<li>
									<svg class="checkbox-blank mr-1"><path></path></svg>Test
								</li>
							</ul>
						</div>
						<div class="col-12 text-center pt-2 pb-3">
							<a id="a-filter">Terapkan Filter</a>
						</div>
					</div>
					<div class="toggle-filter"><svg class="close-x"><path></path></svg></div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div id="cocktail-area" class="bg-ct-cream">
			<div class="container">
				<h3 id="title-cocktail-area" class="section-title pb-2">You Might Like</h3>
				<div id="cocktail-item-area" class="row">
					<div class="col-md-4 p-0">
						<div class="cocktail-item" data-id="1">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita Morita Morita Lorem Ipsiu</h3>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="cocktail-item">
							<img src="/src/img/sample/test2.jpg">
							<div class="backdrop"></div>
							<h3>Morita</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<a class="btnHome">Home</a>
</div>
<footer class="bg-ct-dark text-center py-3">
	Copyright 2021 Cocktail Time
</footer>