<div id="show">
	<header>
		<div class="bg-img">
			<div class="back"></div>
		</div>
		<div class="header-inner">
			<div>
				<div>
					<img>
				</div>
				<div>
					<h1>Morita</h1>
					<p>Ingredients1, Ingredients1, Ingredients1</p>
					<span class="alcoholic">Alcoholic</span>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div>
			<h3>Ingredients</h3>
		</div>
		<div>
			<h3>Glass</h3>
		</div>
		<div>
			<h3>Instruction</h3>
		</div>
	</main>
</div>
<footer class="bg-ct-dark text-center py-3">
	Copyright 2021 Cocktail Time
</footer>